# Archivos de compilacion de Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Entorno de Visual Studio Code
.vscode/

# Entorno de IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# Base de datos local / logs
*.log